@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #101010;
  --foreground: #dcdcdc;
  --border-dark: #242424;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --border-color: #141414;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
